/** Navigation **/

.navbar#top {
    background-color: #8d8d8d4d;
    border-bottom: none;
    position: relative;
    margin-bottom: 0;
    height: 55px;
    display: flex;
    align-items: center;
}

.navbar#top .navbar-brand img {
    max-width: 200px;
}


/** Main content **/

.main-content {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.zoombtn {
    position: absolute;
    top: -230%;
    left: 0%;
    height: 165px;
    padding: 0 !important;
    width: 213px;
    opacity: 1;
    background-color: transparent !important;
    color: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.zoombtn:hover {
    background-color: #63636338 !important;
    color: #777 !important;
}

.main-content .block {
    padding-top: 35px;
    padding-bottom: 35px;
}

.main-content .block.green {
    background-color: #ffffff;
}

.main-content .block.grey {
    background-color: #e6e6fa;
}

.language {
    cursor: pointer;
}

.field-advert-anonymously {
    margin-top: 34px;
}

#register-employee-form .form-group {
    overflow: hidden;
    margin-bottom: 0;
}

#register-employee-form .btn {
    margin-top: 15px;
}

.last- a {
    padding-bottom: 15px;
}

.logout.logout-button {
    height: 20px;
    padding: 15px 0 0 0;
}

.navbar-right form {
    height: 50px;
    margin-bottom: 0;
    padding: 0 10px;
    background-color: #f8f8f8;
}

.navbar-right form:visited,
.navbar-right form:active {
    background-color: #e6e6fa;
}

.navbar-right form:hover {
    background-color: #e6e6fa;
}

.navbar-right form .btn-link.logout.logout-button {
    text-decoration: none;
    color: black;
    height: 100%;
    margin-top: -9px;
}

#registration-page label {
    width: 100%;
}

#registration-page img {
    margin-bottom: 10px;
}

#loginform-rememberme {
    color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
    margin: 5px 0 0 2px;
    font-size: 14px;
    padding: 5px;
    padding: 3px 15px;
}

.navbar-inverse .navbar-nav>li>a>i {
    border: unset;
    color: black;
}

.navbar-inverse .navbar-nav>li:hover,
.navbar-inverse .navbar-nav>li:focus {
    color: #0a6783 !important;
}

.navbar-right form {
    background-color: #f8f8f8;
}

.form-group img {
    max-width: 100%;
    max-height: 200px;
}

.form-group img#signupemployerform-captcha-image {
    width: 140px;
}

.cv {
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
}

.missing-cv {
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.advert-description {
    width: 100%;
}

.advert-description .control-label {
    text-align: center;
    width: 100%;
}

.no-money {
    text-align: center;
    color: red;
}

.normal {
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
    background-color: #ffffff;
}

.platinum-premium {
    border: 1px solid gainsboro;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px grey;
}

.advert-header,
.advert-,
.advert-desc {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.advert-desc {
    display: none;
}

.advert-header,
.advert- {
    text-align: center;
}

.company-logo,
.date {
    overflow: hidden;
    margin-bottom: 10px;
}

.company-logo {
    height: 100px;
}

.logo-im {
    max-height: 190px !important;
    margin: auto;
}

.logo-im.logo-index {
    max-height: 140px !important;
    max-width: 180px !important;
    margin: auto;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    bottom: auto;
    left: 50%;
}

@media (max-width: 400px) {
    .logo-im.logo-index {
        max-height: 100px !important;
        max-width: 120px !important;
    }
}

.search-button-mobile {
    margin-top: 25px;
    text-align: center;
}

.search-form-col.col-lg-2 {
    float: none;
}

.row .a-search-button {
    text-align: center;
}

.row .col-xs-12 {
    margin-bottom: 5px;
}

-cv {
    border: 1px solid grey;
    padding: 5px;
    overflow: hidden;
}

.profile-wrapper {
    margin-top: 30px;
}

.employer-title,
.employee-title {
    min-height: 100px;
    padding: 10px 0 0 20px;
    font-size: 25px;
    overflow: hidden;
}

.employer-description,
.employee-description {
    min-height: 100px;
    overflow: hidden;
}

.employee-description {
    margin-top: 50px;
}

.employer-banner {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1199px) {
    .employer-description {
        margin-top: 0;
    }
}

.employer-logo {
    height: 200px;
    overflow: hidden;
}

.employer-logo {
    height: 200px;
    width: auto;
    overflow: hidden;
}

.platinum-homepage {
    overflow: hidden;
    border: 2px solid gold;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 5px;
}

.premium {
    overflow: hidden;
}

.premium .premium-wrapper {
    display: inline-block;
}

@media (max-width: 350px) {
    .premium .premium-wrapper {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .navbar-right form .btn-link.logout.logout-button {
        margin-top: -10px;
        height: 100%;
    }
}

.premium .premium-wrapper a:hover {
    text-decoration: none;
}

.platinum-homepage {
    overflow: hidden;
    border: 1px solid gainsboro;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    min-height: 310px;
    position: relative;
    box-shadow: 1.5px 1.5px 1.5px #888888;
}

.midi-homepage {
    text-align: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    min-height: 310px;
    box-shadow: 1.5px 1.5px 1.5px #888888;
}

.promjenafonta {
    font-size: 11px;
}

.category.col-md-6 {
    padding-bottom: 5px;
}

.company.col-md-6 {
    padding-bottom: 5px;
}

.position.col-md-6 {
    padding-bottom: 5px;
}

._ba-oglas.php.col-d-6 {
    padding-bottom: 5px;
}

.new-job {
    padding: 0;
    overflow: hidden;
    margin: 0 15px;
}

hr.job-divider {
    border-top-color: rgb(215, 215, 222);
    border-top-width: 2px;
    margin: 0 15px 15px 15px;
}

.job-title,
.job-description,
.job-employer-wrapper {
    float: left;
    width: 100%;
}

.job-description {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    max-height: 100px;
    margin: 10px 0;
}

.job-location,
.job-employer {
    float: left;
}

.job-title a {
    float: left;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.job-title:hover a,
.job-title a:visited,
.job-title a:focus,
.job-title a:active {
    text-decoration: none;
    color: #000000;
}

.job-employer {
    font-size: 14px;
    line-height: 1.2;
}

.job-employer a,
.job-employer a:hover {
    color: #000000;
    text-decoration: none;
}

.job-location,
.job-description {
    color: #000000;
}

.summary {
    display: none;
}

.applications {
    margin-bottom: 5px;
}

.sponsored-advert {
    height: 150px !important;
    overflow: hidden;
    position: relative;
}

.sponsored-advert img {
    position: absolute;
    left: 50%;
    bottom: 10px;
    padding: 20px 10px 0 10px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.logo-im.logo-index img {
    padding: 10px;
}

textarea {
    max-width: 100%;
}

.upload-button {
    padding-top: 15px;
    overflow: hidden;
}

.btn-success.btn-apply-disabled {
    background-color: rgba(92, 184, 92, 0.5);
}

.btn-success.btn-apply-disabled:hover {
    background-color: rgba(92, 184, 92, 0.5);
}


/* ad loader */

.photo-ad-slider {
    background: transparent;
    box-shadow: none;
}

.photo-ad-slider .play-pause {
    display: none;
}

.photo-ad-slider .next,
.photo-ad-slider>.prev {
    border-radius: 0px;
}

/* header */

.header {
    opacity: 0.9;
    z-index: 100;
    height: 92vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.videobg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%,-50%) !important;
    height: 100%;
}

.overlay {
    background: linear-gradient(135deg, #0b65a7 0%, #fff 100%);
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    opacity: 0.6 !important;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

.overlay2 {
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.header-content-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    background-color:#333639d9;
}

.search-form-mobile form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
    opacity: 0.9;
    align-items: center;
}

.search-form-mobile {
    width: 500px !important;
}

@media screen and (max-width: 520px) {
    .search-form-mobile {
        width: 100%;
        padding: 20px !important;
    }

    .search-button-mobile {
        margin-top: 0 !important;
    }
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35%;
}

.search-form form {
    display: flex;
    position: relative;
    padding: 0 15px 0 10px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 4px 86px 42px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 86px 42px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 86px 42px rgba(0,0,0,0.75);
    opacity: 0.9;
    width: 900px;
    width: 100%;
    align-items: center;
    background-color: #ececec00;
}

@media screen and (max-width: 972px) {
    .search-form form {
        flex-direction: column;
        width: 400px;
        padding: 20px;
    }

    .search-form-col {
        width: 100% !important;
    }

    .header-content {
        display: none;
    }

    .header-content-mobile {
        display: flex;
    }
}

.search-form-col {
    margin: 10px;
    width: 200px;
}

.search-button {
    margin-top: 6px;
    width: 125px !important;
}

/* section */
.section-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background-color: #ededed;
}

.section-item {
    width: 200px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.cop-text {
    display: flex;
    margin-top: 20px;
}

.cop-text a {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 617px) {
    .section-item {
        width: 200px;
        min-width: 214px;
    }
}

@media screen and (max-width: 444px) {
    .section-item {
        flex: 1;
    }

    .cop-text a {
        font-size: 15px !important;
    }
}

.section-item img {
    width: 115px;
    height: 115px;
}

.footer-controls {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
    border-top: 1px solid gray;
    padding: 20px;
}

.footer-controls  div {
    margin-top: 20px;
    flex:1;
    width: 551px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer > div > div:nth-child(1) {
    border-right: 1px solid gray;
}

.footer-controls > a {
   width: 300px;
}

.footer-controls a {
    margin: 9px;
    flex: 1;
}

.section-item:hover {
    -webkit-box-shadow: 2px 4px 32px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 32px -13px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 32px -13px rgba(0,0,0,0.75);
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color: black;
}

.section-item:active {
    -webkit-box-shadow: inset 2px 4px 32px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 4px 32px -13px rgba(0,0,0,0.75);
    box-shadow: inset 2px 4px 32px -13px rgba(0,0,0,0.75);
}

@media screen and (max-width: 920px) {
    .section-item {
        width: 50%;
        height: 250px;
    }
    .section-item img {
        width: 135px;
        height: 135px;
    }

    .search-button-mobile {
        margin-top: 0 !important;
    }
}

/*  */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cop-text a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.button-footer {
    background-color: gray;
    text-rendering: optimizeLegibility;
    text-align: center;
    color: #fff;
    border-radius: 22px;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 44px;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none !important;
    text-align: center;
    padding: 0 24px;
    transform: translateZ(0);
    transition: all .4s;
    border: 1px solid transparent;
    touch-action: manipulation;
    height: 25px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.button-:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

.dropdown-toggle {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    background-color: rgb(49, 176, 213) !important;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu li a img {
    width: 17px;
}

.dropdown-menu li a {
    display: flex !important;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu li a:hover {
    display: flex !important;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff !important;
}
.dropdown-menu li {
    padding: 0 !important;
}

.dropdown-menu {
    background-color: #f4f4f4 !important;
    margin-top: 10px !important;
    padding: 0 !important;
    -webkit-box-shadow: -5px 3px 97px -15px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -5px 3px 97px -15px rgba(0,0,0,0.75) !important;
    box-shadow: -5px 3px 97px -15px rgba(0,0,0,0.75) !important;
}

/* LOGIN */

.login {
    width: 500px;
    margin-top: 35px;
    margin-bottom: 70px;
    align-self: center;
    position: relative;
    -webkit-box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    height: 433px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 505px) {
    .login {
        width: 100%;
    }
}

.sign-container {
    height: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login input {
    background-color: #0089ff17;
}

.login- > a {
    color: #fff;
    font-size: 13px;
    display: inline;
    letter-spacing: 1px;
    margin-right: 4px;
}

.login- > a:hover {
    text-decoration: none;
}

nav > .container {
    width: 95% !important;
}

.login > form {
    top: 39px;
    width: 300px;
    align-self: center;
    position: relative;
}

.sign-header {
    width: 100%;
    -webkit-box-shadow: 0px 9px 31px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 31px -8px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 16px -7px rgba(0,0,0,0.75);
    background: #0077B5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
}

.login > form > div > label {
    opacity: 0.7;
}

.reset-password form label {
    opacity: 0.7;
}

.sign-header > h2 {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    font-size: 24px;
    font-feature-settings: normal;
    font-weight: 800;
    font-kerning: inherit;
    font-stretch: expanded;
    text-rendering: geometricPrecision;
    text-transform: uppercase;
}

/* registration */

.reg {
    width: 850px;
    margin-top: 17px;
    align-self: center;
    position: relative;
    -webkit-box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    height: 546px;
    text-align: center;
}

.form-input > div > input {
    background-color: #0089ff17;
}

.form-input > div > select {
    background-color: #0089ff17;
}

.reg .control-label {
    color: #000000 !important;
}
.login .control-label {
    color: #000000 !important;
}


.reg-controls > form {
    padding: 20px;
    display: flex;
    background: white;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.reg-controls > .form-group {
    widows: 200px;
    display: flex;

}

.reg-controls label {
    opacity: 0.7;
    font-size: 13px;

}

.last-column > div > div > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field-registerform-captcha {
    margin-top: 11px;
}

.sec-column {
    width: 330px;
}

.last-column {
    width: 215px;
}

.last-section {
    font-family: monospace;
    font-weight: 500;
}


@media screen and (max-width: 853px) {
    .reg {
        width: 641px;
        height: 777px;
        margin: auto;
    }

    .reg-controls > form {
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    }
    .sec-column {
        width: 330px;
    }

    .last-column {
        width: 100%;
        display: flex;
        height: 138px;
        flex: 1;
    }

    .last-column > div:last-child {
        position: absolute;
        display: unset;
        bottom: 158px;
        left: 33%;
        width: 214px;
    }

    .last-column > div:nth-child(2) {
        margin-left: 122px;
        margin-top: -21px;
    }

    .last-section {
        margin-top: 76px;
    }

}

@media screen and (max-width: 630px) {
    .reg {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .sec-column {
        width: 100%;
    }

    .reg-controls > form > .column {
        width: 100%;
    }

    .last-column > div:nth-child(2) {
        margin-left: unset;
        margin-top: unset;
    }

    .last-column {
        width: 100%;
        display: unset;
        height: unset;
        flex: unset;
    }

    .last-column > div:last-child {
        position: unset;
        display: unset;
        bottom: unset;
        left: unset;
        width: unset;
    }

    .main-content {
        height: 100%;
    }

    .last-column > div > div > div > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .last-section {
        margin-top: 20px;
    }
}

.login-btn {
    background: #999999e6;
    color: #fff !important;
    border-color: #fff;
    padding: 20px 30px 20px !important;
    font-size: 14px !important;
    display: inline-block;
    position: relative !important;
    color: #fff;
    padding: 8px 18px!important;
    border-radius: 36px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: background 0.15s;
    text-transform: uppercase;
    margin-right: 20px !important;
}

.login-btn img,
.regist-btn img {
    width: 22px;
    height: 22px;
}

.regist-btn {
    background: #358ecfcc;
    color: #fff !important;
    border-color: #fff;
    font-size: 14px !important;
    display: inline-block;
    position: relative !important;
    color: #fff;
    padding: 8px 18px!important;
    border-radius: 36px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: background 0.15s;
    text-transform: uppercase;
    margin-right: 20px !important;
}

.regist-btn:hover {
    border: 1px solid #05defe8c;
    padding: 7px 17px!important;
}

.login-btn:hover {
    border: 1px solid white;
    padding: 7px 17px!important;
}

.services .container .row {
    display: flex !important;
    align-items: flex-start;
    justify-content: space-between;
}


.service-card {
    width: 350px !important;
    border-radius: 5px;
}

.service-card img {
    width: 292px;
    height: 176px;
    margin: auto;
}

.service-content {
    padding: 10px;
}

.service-header {
    margin: 0 4px 0 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.service-header > h3 {
    display: flex;
}

.service-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.service-content * {
    padding: 5px;
}

.service-content .describe {
    margin-left: 12px;
    padding-left: 25px;
    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.describe img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}

.describe p {
    padding-top: 5px;
    width: 280px;
    text-align: left;
}
.service-content .prices {
    height: 100%;
}

.service-content .prices * {
    height: 70px;
    display: flex;
    align-items: center;
}

.prices img {
  height: 40px !important;
  width: 40px;
}

.prices > div > span > p {
  margin-top: 14px;
}

.prices > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.midi {
    -webkit-box-shadow: 0 0 34px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 34px -15px rgba(0,0,0,0.75);
    box-shadow: 0 0 34px -15px rgba(0,0,0,0.75);
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.info-content {
    position: relative;
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info {
  background: white;
  position: relative;
  -webkit-box-shadow: 2px 6px 31px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 31px -15px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 31px -15px rgba(0,0,0,0.75);
  flex-direction: column;
  flex: 1;
  display: flex;
  margin: 20px 5px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 500px; 
  max-width: 700px;
  min-height: 100px;
}

.info .logo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.logo-no-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
  background: gray;
}

.info .company-name a {
  color: blue;
  text-decoration: none;
  margin-left: 6px;
}

.info .title {
  color: #8f8c8c;
  margin: 0 5px;
}

.info .fullname {
  font-size: 24px;
  font-weight: 500;
}

.info .controls {
  position: absolute;
  right: 0;
  margin-top: 10px;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.info .controls a {
  margin: 4px 15px;
}


.info .verified {
  color: green;
}

.main-info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 56vh;
}

.user-info {
    display: flex;
    align-items: center;
}

.info-user {
    flex: 3;
}

.info-content-edit {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
}

.info-content-edit > form {
    width: 80%;
}

.info .main-info-text {
  overflow: auto;
  padding: 3px 21px;
}

.info .info-title {
    position: absolute;
    left: 30px;
    top: 0;
}

.info-edit {
    width: 600px;
    background: white;
    margin: 50px auto;
    display: flex;
    -webkit-box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 7px 6px rgba(0, 0, 0, 0.12);
    padding: 0;
    align-items: center;
    flex-direction: column;
}

.info-edit button {
    width: 100%;
}

.info-edit > form {
    width: 74%;
}

.info-edit label {
    opacity: 0.7;
    color: black !important;
}

.info-edit input {
    border: 1px solid #ccc !important;
}

.info-header {
    height: 70px;
    -webkit-box-shadow: 0px 9px 31px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 31px -8px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 16px -7px rgba(0,0,0,0.75);
    background: #0077B5;
    border-radius: 4px;
    color: white;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    font-size: 24px;
    font-feature-settings: normal;
    font-weight: 800;
    font-kerning: inherit;
    font-stretch: expanded;
    text-rendering: geometricPrecision;
    text-transform: uppercase;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    -webkit-box-shadow: 2px 15px 19px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 15px 19px -17px rgba(0,0,0,0.75);
    box-shadow: 2px 15px 19px -17px rgba(0,0,0,0.75);
}

.upload-logo > form {
    padding: 0 !important;
    margin: 0 !important;
}

.info-message {
    padding: 20px;
    margin: auto;
    background: #80808029;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}